
<form (ngSubmit)="onSubmitForm()" [formGroup]="editComponentForm">

  <div class="row">
      <div class="col-xs-12">
        <button
        class="btn btn-success"
        type="submit"
        [disabled]="!editComponentForm.valid"
        style="margin-right: 10px"

        >Save</button>
        <button type="button" class="btn btn-danger" type="button" (click)="cancelForm()">Cancel</button>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" formControlName="name">
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
          <label for="desc">Image Url</label>
          <input type="text" id="desc" class="form-control" formControlName="imgPath" #ImagePrev>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12">
        <img [src]="ImagePrev.value"  class="img-responsive">
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
            <label for="desc">Description</label>
            <textarea  id="desc" class="form-control"  rows="6"  formControlName="description"></textarea>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12" formArrayName="ingredient">
          <div class="row"
            *ngFor="let ingredientCtrl of getControls(); let i=index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >

              <div class="col-xs-8">
                <input  type="text" class="form-control"  formControlName="name">
              </div>

              <div class="col-xs-2">
                  <input type="number" class="form-control"  formControlName="amount">
              </div>

              <div class="col-xs-2">
                <button class="btn btn-danger" (click)="deleteIngredient(i)" type="button">X</button>
              </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
               <button class="btn btn-success" (click)="addIngredient()" type="button" >Add Ingredient</button>
            </div>
          </div>
      </div>
    </div>

</form>

